@charset "utf-8";
*{padding:0; margin:0; border:0; vertical-align:top;}
html,body{width:100%; height:100%;}
html{overflow-y:scroll;}
/*html.addScroll{overflow:hidden;}  홈페이지 전체 스크롤바 사용못하게끔 */


body{font:400 14px/1 'Nanum Gothic','arial'; color:#666; background:#fff; }
header,main,footer,nav,aside,section{display:block;}
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:400;}
ul{list-style:none;}
a{color:#666; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
.floatclear:after{content:''; display:block; clear:both;}
.blind{display:block; text-indent:-2000px; overflow:hidden;}
.hidden{display:none;}

address{font-style:normal; display:block;}



#skip{z-index:4; position:absolute; top:0; left:0; width:100%;}
#skip>li{width:100%;}
#skip>li>a{	display:block; width:100%; padding:0; font-size:0; text-align:center; color:#fff; background:#000;}
#skip>li>a:focus{padding:20px 0; font-size:20px; }




